@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-FD-WOL.eot');
    src: url('../fonts/Vazir-FD-WOL.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Vazir-FD-WOL.woff2') format('woff2'),
         url('../fonts/Vazir-FD-WOL.woff') format('woff'),
         url('../fonts/Vazir-FD-WOL.ttf') format('truetype');
    font-weight: normal;
  }

  @font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Bold-FD-WOL.eot');
    src: url('../fonts/Vazir-Bold-FD-WOL.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Vazir-Bold-FD-WOL.woff2') format('woff2'),
         url('../fonts/Vazir-Bold-FD-WOL.woff') format('woff'),
         url('../fonts/Vazir-Bold-FD-WOL.ttf') format('truetype');
    font-weight: bold;
  }

  @font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Light-FD-WOL.eot');
    src: url('../fonts/Vazir-Light-FD-WOL.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Vazir-Light-FD-WOL.woff2') format('woff2'),
         url('../fonts/Vazir-Light-FD-WOL.woff') format('woff'),
         url('../fonts/Vazir-Light-FD-WOL.ttf') format('truetype');
    font-weight: 300;
  }

  @font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Medium-FD-WOL.eot');
    src: url('../fonts/Vazir-Medium-FD-WOL.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Vazir-Medium-FD-WOL.woff2') format('woff2'),
         url('../fonts/Vazir-Medium-FD-WOL.woff') format('woff'),
         url('../fonts/Vazir-Medium-FD-WOL.ttf') format('truetype');
    font-weight: 500;
  }

  @font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Thin-FD-WOL.eot');
    src: url('../fonts/Vazir-Thin-FD-WOL.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Vazir-Thin-FD-WOL.woff2') format('woff2'),
         url('../fonts/Vazir-Thin-FD-WOL.woff') format('woff'),
         url('../fonts/Vazir-Thin-FD-WOL.ttf') format('truetype');
    font-weight: 100;
  }


html,
body {
    direction: rtl;
    font-family: 'WIranianSerif',sans-serif;
}
div[data-control="media-manager"] .media-list.tiles li .icon-container p,.pika-single{
    font-family: 'WIranianSerif',sans-serif;
}
.has-rulers[data-control="media-manager-crop-tool"] .ruler li{
    font-family: Vazir,Arial,sans-serif;
}

div.control-popover {
    right: auto !important;
}

div.control-popover.placement-left > div::before{
    border-left: 9px solid rgba(0, 0, 0, 0.15);
    border-right: none;
    left: auto;
    right: -9px;
}

div.control-popover.placement-left > div::after{
    border-left: 8px solid #ffffff;
    border-right: none;
    left: auto;
    right: -8px;

}

div.control-popover.placement-left .popover-head::before{
    border-left: 8px solid #f9f9f9;
    border-right: none;
    left: auto;
    right: -8px;
}

div.control-popover.placement-right > div::before{
    border-left: none;
    border-right: 9px solid rgba(0, 0, 0, 0.15);
    left: -9px;
    right: auto;
}

div.control-popover.placement-right > div::after{
    border-left: none;
    border-right: 8px solid #ffffff;
    left: -8px;
    right: auto;

}

div.control-popover.placement-right .popover-head::before{
    border-left: none;
    border-right: 8px solid #f9f9f9;
    left: -8px;
    right: auto;
}

div.control-popover.placement-bottom > div::before{
    left: 14px;
    right: auto;
}

div.control-popover.placement-bottom > div::after{
    left: 15px;
    right: auto;
}

div.control-popover.placement-bottom .popover-head::before{
    left: 15px;
    right: auto;
}

div.control-popover.placement-top > div::before{
    left: 14px;
    right: auto;
}

div.control-popover.placement-top > div::after{
    left: 15px;
    right: auto;
}


.tooltip.right {
    margin-left: 3px;
}
.tooltip.left {
    margin-right: -3px;
}
.tooltip.top-left .tooltip-arrow {
    left: 5px;
    right: auto;
}
.tooltip.top-right .tooltip-arrow {
    left: auto;
    right: 5px;
}
.tooltip.right .tooltip-arrow {
    border-left-color: transparent;
    border-right-color: #34495e;
    border-width: 5px 5px 5px 0;
    left: 0;
    right: auto;
}
.tooltip.left .tooltip-arrow {
    border-left-color: #34495e;
    border-right-color: transparent;
    left: auto;
    right: 0;
}
.tooltip.bottom-left .tooltip-arrow {
    left: 5px;
    right: auto;
}
.tooltip.bottom-right .tooltip-arrow {
    left: auto;
    right: 5px;
}

.select2-container--default {
    direction: rtl;
}

.select2-container--open .select2-dropdown {
    left: 0;
    right: auto;
    direction: rtl;
}

.component-list .components div.layout div.layout-row div.layout-cell>div::before {
    text-indent: 4px !important;
}

.draggable-component-item>div::after,
.component-list .components div.layout-cell>div::after,
div.control-componentlist div.components div.layout-cell>div::after {
    text-indent: 3px !important;
    transform: rotate(180deg) !important;
}

.fancy-layout .control-tabs.master-tabs > div > div.tabs-container > ul.nav-tabs > li a > span.title::before, .fancy-layout.control-tabs.master-tabs > div > div.tabs-container > ul.nav-tabs > li a > span.title::before{
    left: -14px;
    right: auto;
    border-radius: 8px 0 0;
}

.fancy-layout .control-tabs.master-tabs > div > div.tabs-container > ul.nav-tabs > li a > span.title::after, .fancy-layout.control-tabs.master-tabs > div > div.tabs-container > ul.nav-tabs > li a > span.title::after{
    left: auto;
    right: -14px;
    border-radius: 0 8px 0 0;
}

.fancy-layout .control-tabs.primary-tabs > div > ul.nav-tabs > li a span.title::before, .fancy-layout.control-tabs.primary-tabs > div > ul.nav-tabs > li a span.title::before{
    left: -20px;
    right: auto;
    border-radius: 8px 0 0;
}

.fancy-layout .control-tabs.primary-tabs > div > ul.nav-tabs > li a span.title::after, .fancy-layout.control-tabs.primary-tabs > div > ul.nav-tabs > li a span.title::after{
    left: auto;
    right: -20px;
    border-radius: 0 8px 0 0;
}

.control-tabs.primary-tabs > ul.nav-tabs > li a > span.title::before, .control-tabs.primary-tabs > div > ul.nav-tabs > li a > span.title::before, .control-tabs.primary-tabs > div > div > ul.nav-tabs > li a > span.title::before{
    border-radius: 8px 0 0;
}
.control-tabs.primary-tabs > ul.nav-tabs > li a > span.title::after, .control-tabs.primary-tabs > div > ul.nav-tabs > li a > span.title::after, .control-tabs.primary-tabs > div > div > ul.nav-tabs > li a > span.title::after{
    border-radius: 0 8px 0 0;
}

.field-codeeditor .editor-toolbar{
    left: auto;
    right: 10px;
}

.fancy-layout .control-tabs.secondary-tabs.secondary-content-tabs > div > ul.nav-tabs > li a > span.title::before, .fancy-layout.control-tabs.secondary-tabs.secondary-content-tabs > div > ul.nav-tabs > li a > span.title::before{
    border-radius: 8px 0 0;
    left: -11px;
    right: auto;
}

.fancy-layout .control-tabs.secondary-tabs.secondary-content-tabs > div > ul.nav-tabs > li a > span.title::after, .fancy-layout.control-tabs.secondary-tabs.secondary-content-tabs > div > ul.nav-tabs > li a > span.title::after{
    border-radius: 0 8px 0 0;
    right: -11px;
    left: auto;
}

.fancy-layout .control-tabs.secondary-tabs.secondary-content-tabs > div > ul.nav-tabs > li a > span.title, .fancy-layout.control-tabs.secondary-tabs.secondary-content-tabs > div > ul.nav-tabs > li a > span.title{
    padding: 3px 5px 4px;
}

.control-treeview ol > li > div > ul.submenu::after{
    background-position: 0 top;
}

.control-tabs.primary-tabs > ul.nav-tabs > li a > span.title::before, .control-tabs.primary-tabs > div > ul.nav-tabs > li a > span.title::before, .control-tabs.primary-tabs > div > div > ul.nav-tabs > li a > span.title::before{
    border-left: 2px solid #e0e0e0;
    border-right: none;
    left: 0;
    right: auto;
}

.control-tabs.primary-tabs > ul.nav-tabs > li a > span.title::after, .control-tabs.primary-tabs > div > ul.nav-tabs > li a > span.title::after, .control-tabs.primary-tabs > div > div > ul.nav-tabs > li a > span.title::after{
    border-left: none;
    border-right: 2px solid #e0e0e0;
    right: 0;
    left: auto;
}

.fancy-layout .control-tabs.master-tabs::before, .fancy-layout.control-tabs.master-tabs::before{
    left: 8px;
    right: auto;
}
.fancy-layout .control-tabs.master-tabs::after, .fancy-layout.control-tabs.master-tabs::after{
    left: auto;
    right: 8px;
}

.product-search > i.icon{
    left: auto;
    right: 15px;
}

.beautifier-message-container,.beautifier-raw-content,[data-input-preset-type="url"]{
    direction: ltr;
}

.localization-trigger{
    left: 7 !important;
    right: auto !important;
}

@charset "UTF-8";

/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
 */

.pika-single {
    z-index: 9999;
    display: block;
    position: relative;
    color: #333;
    background: #fff;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    font-family: 'WIranianSerif',"Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
clear child float (pika-lendar), using the famous micro clearfix hack
http://nicolasgallagher.com/micro-clearfix-hack/
*/
.pika-single:before,
.pika-single:after {
    content: " ";
    display: table;
}
.pika-single:after { clear: both }
.pika-single { *zoom: 1 }

.pika-single.is-hidden {
    display: none;
}

.pika-single.is-bound {
    position: absolute;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,.5);
}

.pika-lendar {
    float: left;
    width: 100%;
    margin: 8px;
}

.pika-title {
    position: relative;
    text-align: center;
}

.pika-label {
    display: inline-block;
    *display: inline;
    position: relative;
    z-index: 9999;
    overflow: hidden;
    margin: 0;
    padding: 5px 3px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    background-color: #fff;
}
.pika-title select {
    cursor: pointer;
    position: absolute;
    z-index: 9998;
    margin: 0;
    left: 0;
    top: 5px;
    filter: alpha(opacity=0);
    opacity: 0;
}

.pika-prev,
.pika-next {
    display: block;
    cursor: pointer;
    position: relative;
    outline: none;
    border: 0;
    padding: 0;
    width: 20px;
    height: 30px;
    /* hide text using text-indent trick, using width value (it's enough) */
    text-indent: 20px;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75% 75%;
    opacity: .5;
    *position: absolute;
    *top: 0;
}

.pika-prev:hover,
.pika-next:hover {
    opacity: 1;
}

.pika-prev,
.is-rtl .pika-next {
    float: left;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==');
    *left: 0;
}

.pika-next,
.is-rtl .pika-prev {
    float: right;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=');
    *right: 0;
}

.pika-prev.is-disabled,
.pika-next.is-disabled {
    cursor: default;
    opacity: .2;
}

.pika-select {
    display: inline-block;
    *display: inline;
}

.pika-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}

.pika-table th,
.pika-table td {
    width: 14.285714285714286%;
    padding: 0;
}

.pika-table th {
    color: #999;
    font-size: 12px;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
}

.pika-button {
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    border: 0;
    margin: 0;
    width: 100%;
    padding: 5px;
    color: #666;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    background: #f5f5f5;
}

.pika-week {
    font-size: 11px;
    color: #999;
}

.is-today .pika-button {
    color: #33aaff;
    font-weight: bold;
}

.is-selected .pika-button {
    color: #fff;
    font-weight: bold;
    background: #33aaff;
    box-shadow: inset 0 1px 3px #178fe5;
    border-radius: 3px;
}

.is-inrange .pika-button {
    background: #D5E9F7;
}

.is-startrange .pika-button {
    color: #fff;
    background: #6CB31D;
    box-shadow: none;
    border-radius: 3px;
}

.is-endrange .pika-button {
    color: #fff;
    background: #33aaff;
    box-shadow: none;
    border-radius: 3px;
}

.is-disabled .pika-button,
.is-outside-current-month .pika-button {
    pointer-events: none;
    cursor: default;
    color: #999;
    opacity: .3;
}

.pika-button:hover {
    color: #fff;
    background: #ff8000;
    box-shadow: none;
    border-radius: 3px;
}

/* styling for abbr */
.pika-table abbr {
    border-bottom: none;
    cursor: help;
}

.pika-single.is-rtl{
    direction: ltr !important;
}

.clockpicker-popover{
    right: auto;

}

.datepicker-plot-area{-moz-user-select:none;-khtml-user-select:none;-webkit-user-select:none;-o-user-select:none}.datepicker-plot-area .datepicker-time-view .down-btn,.datepicker-plot-area .datepicker-time-view .up-btn{transition:all 100ms ease}.datepicker-plot-area .datepicker-day-view .table-days td.disabled span,.datepicker-plot-area .datepicker-year-view .year-item-disable,.datepicker-plot-area .datepicker-month-view .month-item-disable{border-radius:0}.datepicker-plot-area .datepicker-time-view .down-btn,.datepicker-plot-area .datepicker-time-view .up-btn{border-radius:0;border-top-left-radius:6px;border-top-right-radius:6px}.datepicker-plot-area .datepicker-time-view .down-btn{border-radius:0;border-bottom-right-radius:6px;border-bottom-left-radius:6px}.datepicker-plot-area,.datepicker-plot-area .datepicker-time-view>.time-segment{border-radius:6px}.datepicker-plot-area .datepicker-day-view .table-days td span,.datepicker-plot-area .datepicker-year-view .year-item,.datepicker-plot-area .datepicker-month-view .month-item{border-radius:3px}.datepicker-plot-area{box-shadow:0 5px 10px rgba(0,0,0,0.2)}.datepicker-plot-area .datepicker-day-view .table-days td span,.datepicker-plot-area .datepicker-year-view .year-item,.datepicker-plot-area .datepicker-month-view .month-item,.datepicker-plot-area .datepicker-day-view .table-days td.disabled span,.datepicker-plot-area .datepicker-year-view .year-item-disable,.datepicker-plot-area .datepicker-month-view .month-item-disable,.datepicker-plot-area .datepicker-time-view>.time-segment,.datepicker-plot-area .datepicker-time-view .down-btn,.datepicker-plot-area .datepicker-time-view .up-btn,.datepicker-plot-area .datepicker-time-view input,.datepicker-plot-area .datepicker-header .btn-next,.datepicker-plot-area .datepicker-header .btn-switch,.datepicker-plot-area .datepicker-header .btn-prev,.datepicker-plot-area .toolbox .btn-today{cursor:pointer}.datepicker-plot-area .datepicker-day-view .table-days td span,.datepicker-plot-area .datepicker-year-view .year-item,.datepicker-plot-area .datepicker-month-view .month-item{font:14px;background-color:#fff;color:#333;border:0;text-shadow:none}.datepicker-plot-area .datepicker-day-view .table-days td.disabled span,.datepicker-plot-area .datepicker-year-view .year-item-disable,.datepicker-plot-area .datepicker-month-view .month-item-disable{background-color:#f1f1f1;color:#ccc;border:none;text-shadow:none;cursor:default}.datepicker-plot-area .datepicker-day-view .table-days td span.today{background-color:#333;color:#fff;border:0;text-shadow:none}.datepicker-plot-area .datepicker-day-view .table-days td span.other-month{background-color:"";color:#ccc;border:none;text-shadow:none}.datepicker-plot-area .datepicker-day-view .table-days td span.selected,.datepicker-plot-area .datepicker-year-view .year-item.selected,.datepicker-plot-area .datepicker-month-view .month-item.selected{background-color:#006dcc;color:#fff;border:none;text-shadow:1px 1px 1px #000}.datepicker-plot-area .datepicker-day-view .table-days td span.selected:hover,.datepicker-plot-area .datepicker-day-view .table-days td span:hover,.datepicker-plot-area .datepicker-year-view .year-item:hover,.datepicker-plot-area .datepicker-month-view .month-item:hover{background-color:#006dcc;color:#fff;border:0;text-shadow:none}.datepicker-container{position:absolute;z-index:100000;top:0;direction:ltr}.datepicker-plot-area{box-sizing:border-box;overflow:hidden;min-height:70px;display:block;width:200px;min-width:200px;padding:0 5px;position:absolute;font:12px tahoma;border:1px solid #ccc;background-color:#fff}.datepicker-plot-area table,.datepicker-plot-area th,.datepicker-plot-area td{border:0;background:none}.datepicker-plot-area *{text-align:center;color:#333}.datepicker-plot-area .datepicker-day-view,.datepicker-plot-area .datepicker-month-view,.datepicker-plot-area .datepicker-year-view{display:block;width:100%;float:left;min-height:200px;margin:0}.datepicker-plot-area-inline-view{display:block;width:100%;position:static;float:left}.datepicker-plot-area .datepicker-time-view{display:block;float:left;width:100%;padding:5px 1%;margin:3px 0;background:#f9f9f9;border-top:1px solid #f1f1f1}.datepicker-plot-area .datepicker-time-view>.time-segment{display:block;width:22%;height:60px;float:left;overflow:hidden}.datepicker-plot-area .datepicker-time-view>.time-segment:hover .down-btn,.datepicker-plot-area .datepicker-time-view>.time-segment:hover .up-btn{font-weight:bold;background-color:#fff}.datepicker-plot-area .datepicker-time-view .divider{display:block;width:3%;height:60px;line-height:60px;float:left;overflow:hidden;font:12px bold}.datepicker-plot-area .datepicker-time-view .divider span{height:60px;line-height:60px}.datepicker-plot-area .datepicker-time-view .down-btn,.datepicker-plot-area .datepicker-time-view .up-btn{display:block;float:left;width:100%;margin:0;height:20px;line-height:18px;color:#ccc}.datepicker-plot-area .datepicker-time-view .down-btn:hover,.datepicker-plot-area .datepicker-time-view .up-btn:hover{background-color:#eee;color:#807f7f}.datepicker-plot-area .datepicker-time-view input{display:block;width:90%;margin:0 5%;height:20px;padding:0;outline:none;border:none;background:#f9f9f9}.datepicker-plot-area .datepicker-day-view .table-days{width:100%;float:left;direction:rtl}.datepicker-plot-area .datepicker-day-view .table-days tr{width:300px}.datepicker-plot-area .datepicker-day-view .table-days td{height:26px;padding:0;margin:0}.datepicker-plot-area .datepicker-day-view .table-days td span{display:block;width:100%;height:26px;line-height:26px;padding:0;margin:0}.datepicker-plot-area .datepicker-day-view .month-grid-box{display:block;width:100%;float:right;min-width:150px;height:180px;margin:10px 0}.datepicker-plot-area .datepicker-day-view .month-grid-box .header .header-row{display:block;width:100%;height:25px;float:left}.datepicker-plot-area .datepicker-day-view .month-grid-box .header .header-row-cell{display:block;width:14%;height:25px;float:right;line-height:25px;text-indent:6px;font:14px tahoma;font-weight:bold;color:#333}.datepicker-plot-area .datepicker-year-view .year-item,.datepicker-plot-area .datepicker-month-view .month-item{display:block;width:33.333333%;margin:2px 0 0;float:right;height:36px;line-height:34px}.datepicker-plot-area .datepicker-header{display:block;width:100%;height:30px;float:left;padding:3px 0 0;margin-bottom:8px}.datepicker-plot-area .datepicker-header .btn-next,.datepicker-plot-area .datepicker-header .btn-switch,.datepicker-plot-area .datepicker-header .btn-prev{display:block;float:left;height:28px;line-height:28px;font-weight:bold;background-color:#fff;color:#333;padding:0}.datepicker-plot-area .datepicker-header .btn-next:hover,.datepicker-plot-area .datepicker-header .btn-switch:hover,.datepicker-plot-area .datepicker-header .btn-prev:hover{background-color:#eee}.datepicker-plot-area .datepicker-header .btn-next{display:block;width:15%;float:left}.datepicker-plot-area .datepicker-header .btn-switch{display:block;width:66%;margin:0 2%;float:left}.datepicker-plot-area .datepicker-header .btn-prev{display:block;width:15%;float:left}.datepicker-plot-area .toolbox{display:block;float:left;padding:3px 0;width:100%}.datepicker-plot-area .toolbox .btn-today{background-color:#fff;display:block;font-weight:bold;height:20px;line-height:16px;margin:0 auto;width:60px}.datepicker-plot-area .toolbox .btn-today:hover{background-color:#eee}.datepicker-plot-area .datepicker-header{display:block;width:100%;height:30px;float:left;padding:3px 0 0;margin-bottom:8px}.datepicker-plot-area .datepicker-header .btn-next,.datepicker-plot-area .datepicker-header .btn-switch,.datepicker-plot-area .datepicker-header .btn-prev{display:block;float:left;height:28px;line-height:28px;font-weight:bold;background-color:#fff;color:#333;padding:0}.datepicker-plot-area .datepicker-header .btn-next:hover,.datepicker-plot-area .datepicker-header .btn-switch:hover,.datepicker-plot-area .datepicker-header .btn-prev:hover{background-color:#eee}.datepicker-plot-area .datepicker-header .btn-next{display:block;width:15%;float:left}.datepicker-plot-area .datepicker-header .btn-switch{display:block;width:66%;margin:0 2%;float:left}.datepicker-plot-area .datepicker-header .btn-prev{display:block;width:15%;float:left}



